body {
    font-family: monospace;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s, color 0.3s;
}
.light-mode {
    background-color: #ffffff;
    color: #000000;
}
.dark-mode {
    background-color: #000000;
    color: #ffffff;
}
header {
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}
nav ul li a {
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    color: currentColor;
}
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
}
article {
    border: 2px solid currentColor;
    padding: 2rem;
    margin-bottom: 2rem;
}
h1,
h2 {
    text-transform: uppercase;
}
.meta {
    font-size: 0.9em;
    margin-bottom: 1rem;
}
.tags {
    margin-top: 2rem;
}
.tag {
    display: inline-block;
    padding: 0.3rem 0.6rem;
    margin-right: 0.5rem;
    border: 2px solid currentColor;
    text-transform: uppercase;
    font-size: 0.8em;
}
.navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}
.navigation a {
    padding: 0.5rem 1rem;
    border: 2px solid currentColor;
    text-decoration: none;
    color: currentColor;
    text-transform: uppercase;
}
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
.pagination a {
    margin: 0 0.5rem;
    padding: 0.5rem 1rem;
    border: 2px solid currentColor;
    text-decoration: none;
    color: currentColor;
}
.pagination a.active {
    background-color: gray;
}
a {
    color: currentColor;
    font-weight: bold;
}
#mode-toggle {
    position: fixed;
    top: 1rem;
    right: 1rem;
    padding: 0.5rem 1rem;
    background-color: #333333;
    color: #ffffff;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
}
.media-container {
    margin: 2rem 0;
    border: 3px solid currentColor;
    padding: 1rem;
}
.media-container img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
.media-container iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
    border: none;
}
.caption {
    text-align: center;
    margin-top: 0.5rem;
    font-style: italic;
}
footer {
    text-align: center;
}
footer:after {
    content: "Built with MarkDownuts 🍩";
    text-align: center;
    display: block;
    padding-bottom: 15px;
    font-size: 12px;
}
